.breadcrumbs__menu {
    margin: 0;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 50px;
}

.breadcrumbs__item,
.breadcrumbs__link,
.breadcrumbs__separator {
    display: inline-block;
    vertical-align: middle;
}

.breadcrumbs__item:after {
    content: "/";
    display: inline-block;
    vertical-align: middle;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__link {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #3a5bbf;
}

.breadcrumbs__link--active {
    color: #262424;
    text-decoration: none;
}
