.form__row:after {
    content: "";
    display: block;
    clear: both;
}

.form {
    padding: 35px 60px;
    background: #f5f5f5;
}

.form .title {
    margin-bottom: 7px;
}

.form__row {
    display: block;
    margin-bottom: 14px;
}

.form__section {
    display: block;
    width: calc(100% / 2 - 11px);
    margin-left: 11px;
    float: left;
}

.form__section:first-child {
    margin-right: 11px;
    margin-left: 0;
}

.form__input {
    width: 100%;
    padding: 14px 10px;
    background: #ffffff;
    color: #221f1f;
    border-radius: 3px;
    border: 2px solid transparent;
    outline: none !important;
}

.form__input:focus {
    border-color: #1c5bc3;
}

.form__title {
    margin-bottom: 3px;
}

.form__input_textarea {
    height: 90px;
    resize: none;
}

.form__row-left,
.form__row-right {
    float: left;
    width: 50%;
}

.form__row-right {
    text-align: right;
}

.form__question-title {
    margin-bottom: 6px;
}

.form__question-btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 16px;
    cursor: pointer;
}

.form__question-radio {
    position: absolute;
    top: 0;
    left: -9999px;
}

.form__question-radio:checked+.form__question-visible {
    border-color: #e1942a;
}

.form__question-radio:checked+.form__question-visible:after {
    width: 8px;
    height: 8px;
}

.form__question-radio:checked+.form__question-visible+.form__question-name {
    color: #e1942a;
}

.form__question-visible,
.form__question-name {
    display: inline-block;
    vertical-align: middle;
}

.form__question-visible {
    width: 20px;
    height: 20px;
    border: 1px solid #cbcbcb;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transition: .3s;
    background: #fdfdfd;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fdfdfd 0%, #ededed 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */
}

.form__question-visible:after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e1942a;
    transition: .3s;
}

.form__question-name {
    margin-left: 5px;
    transition: .3s;
}

.form__submit {
    background: #1a1b1c;
    border: 0 none;
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    width: auto;
    color: #e1942a;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;
    transition: .3s;
}

.form__submit:hover {
    background: #fff;
    color: #1a1b1c;
}

.form__submit-text {
    display: inline-block;
    vertical-align: middle;
}

.content__inner {
    padding: 0 15% 30px 0;
}
