.partners__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 20px;
}

.partners__item {
    padding: 25px;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: 230px;
    flex-basis: 230px;
}

.partners__item:hover .partners__link {
    filter: grayscale(0%);
}

.partners__link {
    display: block;
    height: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    filter: grayscale(100%);
    transition: .3s;
}

.partners__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 80%;
}

.partners-column {
    padding: 10px;
}

.partners-content {
    border: 2px solid;
    color: #e8e8ec;
}
